<% if @user == nil %>
  <%= render 'login_form' %>
<% else %>
  Logged in as <%= @user.email %>. <%= link_to "Log Out", logout_path, method: :delete %>
  <section id="messages">
    <% if @messages.any? %>
      <% @messages.each do |message| %>
        <p><%= message.user.email %><br />
        <%= message.content %></p>
      <% end %>
    <% end %>
  </section>
  <%= render 'messages_form' %>
<% end %>
